#drum-machine {
    margin: 0;
    padding: 0;
    background: rgb(17, 125, 197);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* 
#root {
    background: rgb(255, 255, 255);
} */

#drum-pad-holder {
    margin: 20px;
    width: 285px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#display {
    width: 265px;
    height: 60px;

    font-size: 45px;
    text-align: center;
    font-weight: bold;

    color: rgb(75, 75, 75);
    background: white;
}



.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;
    margin: 5px;

    font-size: 60px;
    color: white;
    border: 1px solid black;
}

.active {
    transform: scale(0.98);
    filter: brightness(0.8);
}
