@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap'); 

/* :root {
    margin: 0;
    padding: 0;
}

/* Header */

/* body {
    background-color: green;
    transition: .5s;
} */

/* div#root {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* Inner div */

div#quote-box {
    position: relative;
    width: 50vw;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 15px;
}

#quote-box__header {
    position: relative;
    height: 80%;
    font-family: 'Sansita Swashed', cursive;
}

/* Additional text - API */

#additional-text {
    opacity: 0.5;
    text-decoration: none;
    color: inherit;
}

#additional-text__link {
    padding: 0;
    color: inherit;
    text-decoration: underline;
}

/* Buttons */

#quote-box__buttons {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

/* button {
    padding: 10px;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
    transition: .5s;

    font-family: 'Noto Serif', serif;
    font-size: .9rem;
    font-weight: bold;
    margin: 15px;
}

button:hover {
    background-color: rgb(8, 43, 197);
    color: white;
    border-color: rgb(8, 43, 197);
}

a {
    text-decoration: none;
    color: black;
    padding: 10px 30px;
}

a:hover {
    color: white;
} */